

/*Home Page*/


h1, h2, h3, h4, h5, h6, p {
  font-family: 'Open Sans',sans-serif;
}

a.button {

  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  font-size: 19px;
  font-weight: 300;
  width: 394px;
  height: 147px;
  line-height: 48px;
  padding: 11px;
  background: #3366FF;
  border-radius: 8px;
  color: #FFF;
  text-shadow: 0 1px 0 rgba(0,0,0,.25);
  background-clip: padding-box;
  cursor: pointer;
}





h1{


  font-size: 40px;
  margin-bottom: 30px;
    margin-top: 36px;
}


/*End Home page*/


/*Login Page*/
a.for_sig {
  text-decoration: none;
  color: black;
}


input {
  width: 100%;
  height: 42px;
  padding-left: 10px;
  margin-bottom: 20px;
}



input.button {
  padding: 0;
  margin: 0 0 10px;
  width: 100%;
  background: #3366FF;
  height: 42px;
  line-height: 42px;
  color:white;
  font-weight: bold;


}


a {
  text-decoration: none;
  font-weight: 600;
  color:black;
}



body {
  background: #f9f9f9;
}




input[type="submit"] {
  padding: 0;
  margin: 0 0 10px;
  width: 100%;
  background: #3366FF;
  height: 42px;
  line-height: 42px;
  color: white;
  font-weight: bold;
}





select {
  height: 42px;
  width: 100%;
}




input.checkbox {
  height: 24px;
  width:24px;

}


textarea.textaria_com {
  width: 100%;
  height: 80px;
  margin-bottom: 15px;
  margin-top: 15px;
}

.col-md-6 {
  margin: 0;
  padding: 0;
}


span.com_name {
  float: left;
  font-size: 24;
  margin-top: 7px;
}


table {
  background-color: rgb(255, 255, 255);
}

/* Css for header template*/


.btn-group.show-on-hover {
  float: right;
}

p.menu {
  color: #009fcc;
 
  padding-top: 15px;
} 


header {
  width: 100%;
  height: 58px;
  float: left;
  position: relative;
  z-index: 5;
  background: #453E3E;
  border-bottom: 1px solid #453E3E;
}

img.img-responsive {
  padding-top: 7px;
}

a {
  background-color: transparent;
}

 a.dropdown-toggle {
  color: white;
}


 .nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background-color: #453E3E;
  border-color: #337ab7;
}
img.head_img {
  padding-top: 10px;
}

a.button-width {
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  / font-size: 16px; /
  font-weight: bold;
  width: 394px;
  height: 147px;
  line-height: 48px;
  / padding: 11px; /
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 27px;
  padding-right: 27px;
  background: #3366FF;
  / border-radius: 8px; /
  color: #FFF;
  text-shadow: 0 1px 0 rgba(0,0,0,.25);
  background-clip: padding-box;
  cursor: pointer;
}


button.button {
 
  padding: 0;
  margin: 0;
  width: 100%;
  background: #3366FF;
  height: 42px;
  line-height: 42px;
  color: white;
  font-weight: bold;
}